.bg-light {
    background: rgb(233, 233, 233);
    color :  rgb(37, 37, 37);
}

.bg-dark {
    background: rgb(37, 37, 37);
    color: lightgrey;
}

.bg-black {
    background: #000;
}
header{
    content: "";
    background-image: url(../img/bg-header.jpg);
    background-size: cover;
    height: 400px;
    width: 100%;
}