@import url("/Golden-Page/font/font-style.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("/Golden-Page/CSS/general.css");
@import url("/Golden-Page/CSS/sprite.css");


/* ****** Variables ****** */
:root {
}
    
/* ****** GENERAL ******  */
a {
    text-decoration: none;
    
}
ul {
    list-style: none;
}
.button button {
    color:white;
    background-color: rgb(253, 209, 53);
    border: none;
    border-radius: 0.3rem;
    font-family: 'Montserrat', sans-serif;
    padding: 1rem 2rem;
    size : 0.8rem;
    font-weight: bold;
}
.button button:hover {
    border-style: inset;
    border-color: rgb(253, 209, 53);
    cursor: pointer ;
}
div.section-title h3 {
    margin: 0;
    padding-top: 5%;
    font-size: 2rem;
    text-align: center;
}
div.section-title h4 {
    text-align: center;
    margin: top 1%;;
    color: rgb(119, 119, 119);
    font-weight: 200;
    font-size: 1rem;
}
section#services {
    padding : auto 30rem;
}
/* ****** HEADER ****** */
header {
    background-image: url("/Golden-Page/img/bg-top.png");
    background-size: cover;
    height: 100vh;
}
header section#logo-nav {
    display: flex;
    justify-content: space-around;
}
header section#logo-nav h1 {
    margin-top: 0;
    padding-top: 1.2rem;
    color: goldenrod;
}
header section#logo-nav .navbar ul a, span {
    display: inline-block;
    color: rgba(255, 255, 255, 0.712);
    size: 0.5rem;
    padding-right: 2rem;
    padding-top: 1.2rem;
}
header section#welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
}
header section#welcome #intro h2 {
    color: white;
    font-size : 3rem;
    text-align: center;
}
header section#welcome #intro p {
    text-align: center;
    color: white;
    font-size: 5rem;
}

/* ****** MAIN ****** */
/* --- SERVICES --- */
main section#services .content {
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
   margin : 5rem 10rem;
}
main section#services .item  {
    text-align: center;
    width: 20rem;
    margin : 0;
}
/* FIXME = bordure ecrase l'image */
main section#services .item img {
    border: solid #FEDD6B 3px;
    padding: 1rem;
    border-radius: 999em;
}
main section#services .item h5 {
    font-size: 1.3rem;
}
/* --- PORTFOLIO --- */
main section#portfolio div#portfolio-content .line {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin : 2rem 2rem;
}
main section#portfolio div#portfolio-content .line .client {
    margin : 2rem 2rem ;
    text-align: center;
}
main section#portfolio div#portfolio-content .line .client img {
    width: 15rem; 
    height: 15rem; 
    object-fit: cover;
}
/* --- TEAM --- */
main section#team div#team-mates {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
main section#team #team-mates .mate {
    text-align: center;
}
main section#team #team-mates .mate span.photo-mate {
    height: 12rem;
    width: 12rem;
    background-color: black;
    border-radius: 50%;
    margin: 2rem;
}
main section#team .p-text {
    padding : 3rem 20rem;
    padding-bottom: 5rem;
    text-align: center;
}
/* --- SKILLS --- */
main section#skills {
    display: flex ;
    justify-content: center;
    padding : 3rem;
}
main section#skills div img {
    margin-right: 2rem;
}
/* --- CONTACTS --- */
main section#contacts {
    background-image: url(../Golden-Page/img/map_contact.png);
    padding-bottom: 6rem;
}
main section#contacts .section-title {
    color: white;
}
main section#contacts form {
    text-align: center;
}
main section#contacts form .form-content {
    display: flex ;
    flex-direction: row;
    justify-content: center;
}

main section#contacts form .form-content .form-infos input {
    width: 23rem;
    height: 2.2rem;
    margin-right: 1.8rem;
    margin-bottom: 1.2rem;
    border-radius: 5px ;
}
main section#contacts form .form-content .form-comment textarea {
    width: 23rem;
    height: 9.6rem;
    margin-right: 1.8rem;
    margin-bottom: 1.2rem;
    border-radius: 5px ;
}
/* ****** FOOTER ****** */
footer #footer {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}
footer #footer div.social-link {
    margin-left: 5rem;
}
footer #footer .social-link a {
    filter: invert(0);
    background-color: black;
}