html {
    box-sizing: border-box;
    font: 87.5%/1.4 HelveticaNeue, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

img {
    max-width: 100%;
}

.wrapper {
    list-style: none;
    margin: 0 auto 0 auto;
    padding: 0;
}

.wrapper li {
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}