.wrapper {
    width: 900px;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr ;
    grid-template-rows: auto;
}
.mainnav {
    text-decoration: none;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: end;
}
.subhead {
    grid-column-start: 2;
    grid-column-end: end;
    grid-row-start: 1;
    grid-row-end: 1;
}
.content {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.quote {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: end;
}